<!doctype html>
<html>
<head>
    <script>
	function validate(form) {
var e = document.getElementById("SerialID").value;
    if(!e) {
        alert('Please fill out required fields');
        return false;
    }
    
    else {
    return true;
    }
}
</script>
</head>
<body>


<%- include Main.ejs %>
<form action="/create-account" method="post" onsubmit="return validate(this);">
        
        <div class="form-group">
        <label>Register User</label>
            <p><input type="text" class="form-control" name="SerialID" id="SerialID" placeholder='Serial ID (required)'></p>
            <p><input type="text" class="form-control" name="Balance" placeholder='Initial Balance'></p>
            <p><input type="text" class="form-control" name="email" placeholder='email (optional)'></p>
            <p><select name="AccType" id="AccType">
             <option value="REG" selected>Regular Account</option>
		<option value="SERVICE" >Service Account</option>
		
		<option value="T1">Tier 1 Account</option>
		
		<option value="T2">Tier 2 Account</option>
		
		<option value="T3">Tier 3 Account</option></select></p>
		</div>
               
        <button type="submit" class="btn btn-warning btn-lg">Create User</button>
    </form>
</body>
</html>